.Jumbotron {
  height: 100%;
  background: url("../../assets/Header_Home_Desktop.jpg") no-repeat center top/cover;
}
@media (max-width: 578px) {
  .Jumbotron {
    background-image: url("../../assets/Header_Home_Mobile.jpg");
  }
}
.Jumbotron nav {
  padding: 4% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Jumbotron nav a {
  flex-shrink: 0;
}
.Jumbotron nav a img {
  max-width: max-content;
  height: auto;
  filter: invert(20%);
}
.Jumbotron nav .nav-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in-out;
}
.Jumbotron nav .nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.Jumbotron nav .nav-links ul a {
  font-size: 0.75rem;
  padding: 0 1.5rem;
  color: #fff;
  font-weight: 600;
}
.Jumbotron nav .nav-links ul a::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: all 0.3s ease;
}
.Jumbotron nav .nav-links ul a:hover::after {
  width: 100%;
}
.Jumbotron nav .fa {
  display: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 992px) {
  .Jumbotron nav .nav-links {
    position: fixed;
    background: #07223f;
    display: block;
    height: 100vh;
    width: 20rem;
    top: 0;
    box-shadow: 2px 2px 50px gray;
    right: -25rem;
    text-align: left;
    z-index: 1;
  }
  .Jumbotron nav .nav-links ul {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  .Jumbotron nav .nav-links ul a {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .Jumbotron nav .nav-links ul button {
    width: 100%;
  }
  .Jumbotron nav .fa {
    display: block;
    margin: 1rem;
  }
}
.row {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.row .col {
  flex: 0.4;
}

.description-text {
  display: none;
}

@media (max-width: 992px) {
  .row .col {
    flex: 0.7;
  }
}
@media (max-width: 578px) {
  .row {
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: start;
  }
  .row .col {
    flex: 1;
  }
  .row .col:nth-child(1) {
    display: none;
  }

  .description-text {
    display: block;
  }
  .description-text .row {
    position: relative;
    height: 100%;
  }
  .description-text .row .col {
    position: absolute;
    top: -2.5rem;
    display: block;
  }
  .description-text .row .col p {
    line-height: 1.5rem;
  }
}
.making-money {
  min-height: 100vh;
}
.making-money img {
  position: absolute;
  right: 0;
  top: 15%;
  transform: translateY(50%);
}
.making-money #slider {
  min-height: 75vh;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.making-money #slider [type=radio] {
  display: none;
}
.making-money #slider label {
  margin: auto;
  color: #fff;
  text-align: center;
  line-height: 20rem;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.making-money #slider label img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
}
.making-money #slider #s2:checked ~ #slide4,
.making-money #slider #s3:checked ~ #slide2,
.making-money #slider #s4:checked ~ #slide3 {
  transform: translate3d(-25%, 0, -100px);
  opacity: 0.4;
}
.making-money #slider #s2:checked ~ #slide2,
.making-money #slider #s3:checked ~ #slide3,
.making-money #slider #s4:checked ~ #slide4 {
  transform: translate3d(0, 0, 0);
}
.making-money #slider #s2:checked ~ #slide3,
.making-money #slider #s3:checked ~ #slide4,
.making-money #slider #s4:checked ~ #slide2 {
  transform: translate3d(25%, 0, -100px);
  opacity: 0.4;
}
.making-money #slider #slide2,
.making-money #slider #slide3,
.making-money #slider #slide4 {
  background: url("../../assets/Group 6.png") no-repeat center top/cover;
}
@media (max-width: 578px) {
  .making-money #slider #slide2,
.making-money #slider #slide3,
.making-money #slider #slide4 {
    background-image: url("../../assets/Group 6 mobile.png");
  }
}

@media (max-width: 768px) {
  .making-money .sub-title img {
    display: none;
  }
}
@media (max-width: 578px) {
  .making-money {
    min-height: 50vh;
  }
  .making-money #slider {
    min-height: 40vh;
  }
  .making-money #slider label {
    line-height: 15rem;
  }
}
.platform {
  padding: 6% 0;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.platform .top,
.platform .bottom {
  width: 100%;
}
.platform .top {
  padding: 2% 6%;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.platform .top .left,
.platform .top .right {
  width: 100%;
}
.platform .top .right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.platform .top .right .platform-mobile {
  display: none;
}
.platform .bottom {
  padding: 0 6%;
  margin-top: 2rem;
  background: #ff6200;
}
.platform .bottom .subscribe-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.platform .bottom .subscribe-section p {
  color: black;
  flex: 0.4;
}
.platform .bottom .subscribe-section .input-box {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ff6200;
  position: relative;
}
.platform .bottom .subscribe-section .input-box input,
.platform .bottom .subscribe-section .input-box button {
  height: 100%;
}
.platform .bottom .subscribe-section .input-box input {
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: #868686;
}
.platform .bottom .subscribe-section .input-box input:focus {
  outline: none;
}
.platform .bottom .subscribe-section .input-box button {
  color: white;
  background: #07223f;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  height: 2.5rem;
}

@media (max-width: 992px) {
  .platform .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10% 6%;
  }
  .platform .top .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .platform .top .right .platform-mobile {
    display: flex;
    padding-top: 10%;
  }
  .platform .top .right .platform-desktop {
    display: none;
  }
  .platform .bottom .subscribe-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .platform .bottom .subscribe-section br {
    display: none;
  }
  .platform .bottom .subscribe-section p {
    text-align: center;
  }
  .platform .bottom .subscribe-section .input-box {
    flex: 1;
    width: 100%;
  }
  .platform .bottom .subscribe-section .input-box button {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 578px) {
  .platform {
    padding: 15% 0;
  }
  .platform .bottom {
    padding: 6%;
  }
}
.footer {
  min-height: 60vh;
  background: #07223f;
  padding-top: 2.5%;
  padding-bottom: 5%;
}
.footer .top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
}
.footer .top-box .contact-details,
.footer .top-box .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .top-box .contact-details {
  flex: 0.6;
}
.footer .top-box .socials {
  flex: 0.2;
  color: #fff;
  cursor: pointer;
}
.footer .top-box .socials .fa {
  transition: all 0.2s ease-in-out;
}
.footer .top-box .socials .fa:hover {
  color: #ff6200;
}
.footer .nav-box {
  padding: 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer .nav-box .footer-nav h6 {
  margin-bottom: 1rem;
  font-size: 1.05rem;
}
.footer .nav-box .footer-nav ul {
  list-style: none;
}
.footer .nav-box .footer-nav ul > li {
  font-size: 0.75rem;
  color: white;
  padding: 0.3rem 0;
  cursor: pointer;
}
.footer .bottom-box {
  padding: 3% 0;
}
.footer .bottom-box h6 {
  font-size: 1.05rem;
  color: #fff;
  text-align: center;
}
.footer .mobile-box {
  display: none;
}

@media (max-width: 992px) {
  .footer .top-box {
    flex-direction: column;
    justify-content: space-between;
    min-height: 30vh;
  }
  .footer .top-box .contact-details,
.footer .top-box .socials {
    flex: 0;
  }
  .footer .top-box .contact-details {
    width: 75%;
  }
  .footer .top-box .socials {
    width: 25%;
  }
}
@media (max-width: 578px) {
  .footer {
    min-height: 80vh;
  }
  .footer > .line {
    display: none !important;
  }
  .footer .top-box {
    min-height: 20vh;
  }
  .footer .top-box .contact-details,
.footer .top-box .socials,
.footer .top-box .trust-pilot {
    display: none;
  }
  .footer .nav-box {
    display: none;
  }
  .footer .bottom-box {
    display: none;
  }
  .footer .mobile-box {
    display: block;
    padding: 15% 0;
  }
  .footer .mobile-box h6 {
    padding: 4% 0;
    font-size: 1.05rem;
    font-weight: 300;
    position: relative;
  }
  .footer .mobile-box h6::after {
    content: "+";
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-display: auto;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
}

h1 {
  color: #07223f;
  opacity: 0.1;
  width: 100%;
  font-family: "Bebas Neue";
  font-size: 8.5rem;
  font-weight: 200;
}
@media (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}
@media (max-width: 578px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  position: relative;
  font-family: "Bebas Neue";
  font-size: 5rem;
  font-weight: 200;
  line-height: 4rem;
  color: #07223f;
}
h2 span {
  color: #ff6200;
}
h2 img {
  position: absolute;
  right: 0;
  cursor: pointer;
}
@media (max-width: 578px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  color: #07223f;
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: 200;
}
@media (max-width: 768px) {
  h3 {
    font-size: 2.25rem;
  }
}
@media (max-width: 578px) {
  h3 {
    font-size: 1.75rem;
  }
}

h5 {
  color: #ff6200;
  font-family: "Bebas Neue";
  font-size: 2.5rem;
  font-weight: 200;
}

h6 {
  color: #ff6200;
  font-size: 0.8rem;
}

p {
  color: #868686;
  font-size: 1.1rem;
  margin: 1.5em 0;
}
@media (max-width: 578px) {
  p {
    font-size: 1rem;
  }
  p br {
    display: none;
  }
}

h4 {
  color: #07223f;
}

section {
  padding: 0 5%;
}
@media (max-width: 992px) {
  section {
    padding: 0 5%;
  }
}

button {
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 45%;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 578px) {
  button {
    padding: 1rem 2rem;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-fill {
  color: white;
  border: none;
  background: #ff6200;
}
.button-fill:hover {
  opacity: 0.8;
}

.button-solid {
  color: #ff6200;
  border: 2px solid #ff6200;
  background: white;
  margin-left: 1rem;
}
.button-solid:hover {
  opacity: 0.7;
}
@media (max-width: 578px) {
  .button-solid {
    margin-left: 0rem;
  }
}

.sub-title {
  text-align: center;
  display: grid;
  position: relative;
  margin: 2rem 0;
}
.sub-title h1,
.sub-title h3 {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
