.Jumbotron {
  height: 100%;
  background-image: url("../../assets/Header_Home_Desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 578px) {
  .Jumbotron {
    background-image: url("../../assets/Header_Home_Mobile.jpg");
    background-position: center;
  }
}
.Jumbotron nav {
  padding: 4% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Jumbotron nav a {
  flex-shrink: 0;
}
.Jumbotron nav a img {
  max-width: max-content;
  height: auto;
  mix-blend-mode: difference;
  color: red;
}
.Jumbotron nav .nav-links {
  transition: all 1s ease-in-out;
}
.Jumbotron nav .nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.Jumbotron nav .nav-links ul a {
  font-size: 0.75rem;
  padding: 0 1.5rem;
  color: #fff;
  font-weight: 600;
}
.Jumbotron nav .nav-links ul a::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: all 0.3s ease;
}
.Jumbotron nav .nav-links ul a:hover::after {
  width: 100%;
}
.Jumbotron nav .fa {
  display: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 992px) {
  .Jumbotron nav .nav-links {
    position: fixed;
    background: #07223f;
    height: 100vh;
    width: 20rem;
    top: 0;
    box-shadow: 2px 2px 50px gray;
    right: -20rem;
    text-align: left;
    z-index: 1;
  }
  .Jumbotron nav .nav-links ul {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  .Jumbotron nav .nav-links ul a {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .Jumbotron nav .nav-links ul button {
    width: 100%;
  }
  .Jumbotron nav .fa {
    display: block;
    margin: 1rem;
  }
}
.row {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
}
.row .col {
  flex: 0.4;
}

.description-text {
  display: none;
}

@media (max-width: 992px) {
  .row .col {
    flex: 0.7;
  }
}
@media (max-width: 578px) {
  .row {
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: start;
    position: relative;
  }
  .row .col {
    flex: 1;
  }
  .row .col:nth-child(1) {
    display: none;
  }

  .description-text {
    display: block;
  }
  .description-text .row {
    position: relative;
    min-height: 100%;
  }
  .description-text .row .col {
    position: absolute;
    top: -7.5rem;
    display: block;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-display: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  position: relative;
  font-family: "Bebas Neue";
  font-size: 5rem;
  font-weight: 200;
  line-height: 4rem;
  color: #07223f;
}
h1 span {
  color: #ff6200;
}
h1 img {
  position: absolute;
  right: 0;
  cursor: pointer;
}
@media (max-width: 578px) {
  h1 {
    font-size: 4rem;
  }
}

p {
  color: #868686;
  font-size: 1.1rem;
  margin: 1.5em 0;
}
@media (max-width: 578px) {
  p {
    font-size: 1rem;
  }
}

h4 {
  color: #07223f;
}

section {
  padding: 0 5%;
}
@media (max-width: 992px) {
  section {
    padding: 0 5%;
  }
}

button {
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 45%;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 578px) {
  button {
    padding: 1rem 2rem;
  }
}

.button-fill {
  color: white;
  border: none;
  background: #ff6200;
}
.button-fill:hover {
  opacity: 0.8;
}

.button-solid {
  color: #ff6200;
  border: 2px solid #ff6200;
  background: white;
  margin-left: 1rem;
}
.button-solid:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
