// Imports
@import "./layout/jumbotron";
@import "./layout/header";
@import "./layout/carousel";
@import "./layout/platform";
@import "./layout/footer";
@import "./helpers/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", sans-serif;
  font-display: auto;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
}

h1 {
  color: $Purple;
  opacity: 0.1;
  width: 100%;
  font: {
    family: "Bebas Neue";
    size: 8.5rem;
    weight: 200;
  }
  @include tablet {
    font-size: 6rem;
  }
  @include mobile {
    font-size: 5rem;
  }
}

h2 {
  position: relative;
  font: {
    family: "Bebas Neue";
    size: 5rem;
    weight: 200;
  }
  line-height: 4rem;
  color: $Purple;
  span {
    color: $Orange;
  }
  img {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  @include mobile {
    font-size: 4rem;
  }
}

h3 {
  color: $Purple;
  font: {
    family: "Bebas Neue";
    size: 3rem;
    weight: 200;
  }
  @include tablet {
    font-size: 2.25rem;
  }
  @include mobile {
    font-size: 1.75rem;
  }
}

h5 {
  color: $Orange;
  font: {
    family: "Bebas Neue";
    size: 2.5rem;
    weight: 200;
  }
}

h6 {
  color: $Orange;
  font-size: 0.8rem;
}

p {
  color: $Grey_text;
  font-size: 1.1rem;
  margin: 1.5em 0;

  @include mobile {
    font-size: 1rem;
    br {
      display: none;
    }
  }
}

h4 {
  color: $Purple;
}

section {
  padding: 0 5%;
  @include laptop {
    padding: 0 5%;
  }
}

button {
  font: {
    weight: bold;
    size: 0.75rem;
  }
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 45%;
  transition: all 0.2s ease-in-out;
  @include mobile {
    padding: 1rem 2rem;
  }
}

.button-group {
  @include flex(row, space-between, center);
}

.button-fill {
  color: white;
  border: none;
  background: $Orange;
  &:hover {
    opacity: 0.8;
  }
}

.button-solid {
  color: $Orange;
  border: 2px solid $Orange;
  background: white;
  margin-left: 1rem;
  &:hover {
    opacity: 0.7;
  }
  @include mobile {
    margin-left: 0rem;
  }
}

.sub-title {
  text-align: center;
  display: grid;
  position: relative;
  margin: 2rem 0;
  h1,
  h3 {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }
}
