// Imports
@import "../helpers/mixins";
@import "../helpers/variables";

.row {
  min-height: 100vh;
  @include flex(row, none, center);
  .col {
    flex: 0.4;
  }
}

.description-text {
  display: none;
}

// Responsive
@include laptop {
  .row {
    .col {
      flex: 0.7;
    }
  }
}

@include mobile {
  .row {
    min-height: 60vh;
    @include flex(row, none, start);
    .col {
      flex: 1;
      &:nth-child(1) {
        display: none;
      }
    }
  }
  .description-text {
    display: block;
    .row {
      position: relative;
      height: 100%;

      .col {
        position: absolute;
        top: -2.5rem;
        display: block;
        p {
          line-height: 1.5rem;
        }
      }
    }
  }
}
