// Imports
@import "../helpers/mixins";
@import "../helpers/variables";

.platform {
  padding: 6% 0;
  background-color: $Grey_bg;
  @include flex(column, space-between, center);
  .top,
  .bottom {
    width: 100%;
  }
  .top {
    padding: 2% 6%;
    background: #fff;
    @include flex(row, space-between, center);
    .left,
    .right {
      width: 100%;
    }
    .left {
      .platform-mobile {
        display: none;
      }
      p {
        .dot,
        .read-more {
          display: none;
        }
      }
    }
    .right {
      @include flex(row, end, center);
      .platform-mobile {
        display: none;
      }
    }
  }
  .bottom {
    padding: 0 6%;
    margin-top: 2rem;
    background: $Orange;
    .subscribe-section {
      @include flex(row, space-between, center);
      p {
        color: black;
        flex: 0.4;
      }
      .input-box {
        flex: 0.5;
        @include flex(row, center, center);
        background: $Orange;
        position: relative;
        input,
        button {
          height: 100%;
        }
        input {
          margin: 0;
          padding: 0;
          width: 100%;
          outline: none;
          height: 2.5rem;
          border-radius: 0.5rem;
          padding: {
            left: 0.5rem;
            right: 0.5rem;
          }
          border: $Grey_text;

          &:focus {
            outline: none;
          }
        }
        button {
          color: white;
          background: $Purple;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          border: none;
          height: 2.5rem;
        }
      }
    }
  }
}

// Responsive
@include laptop {
  .platform {
    .top {
      @include flex(column, space-between, center);
      padding: 10% 6%;
      .right {
        @include flex(row, center, center);
      }
    }
    .bottom {
      .subscribe-section {
        @include flex(column-reverse, space-between, center);
        br {
          display: none;
        }
        p {
          text-align: center;
        }
        .input-box {
          flex: 1;
          width: 100%;
          button {
            padding: {
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .platform {
    padding: 15% 0;
    .top {
      .left {
        .platform-mobile {
          display: flex;
        }
        p {
          .hide {
            display: none;
          }
          .dot,
          .read-more {
            display: inline;
          }
          .read-more {
            color: $Orange;
          }
        }
      }
      .right {
        display: none;
      }
    }
    .bottom {
      padding: 6%;
    }
  }
}
