$Orange: #ff6200;
$Purple: #07223f;
$Grey_text: #868686;
$Grey_bg: #f7f7f7;

$bg_desktop: "../../assets/Header_Home_Desktop.jpg";
$bg_mobile: "../../assets/Mobile.jpg";
$platform_bg: "../../assets/vape_phone.png";
