$Orange: #ff6200;
$Purple: #07223f;
$Grey_text: #868686;
$Grey_bg: #f7f7f7;

$header_desktop: "../../assets/Header_Home_Desktop.jpg";
$header_mobile: "../../assets/Header_Home_Mobile.jpg";
$carousel_desktop: "../../assets/Group 6.png";
$carousel_mobile: "../../assets/Group 6 mobile.png";
$platform_desktop: "../../assets/vape_phone.png";
$platform_mobile: "../../assets/vape_phone-sm.png";
